#parse ("macros.vm")

#if ($!{data.isEmpty()})
    #showMessage("info", "Status", "No data to display.", false)
#else
<table class="aui aui-table-interactive aui-table-sortable">
    <thead>
    <tr>
        <th id="data-latitude">Latitude</th>
        <th id="data-longitude">Longitude</th>
        <th id="data-timestamp">Timestamp</th>
    </tr>
    </thead>
    <tbody>
        #foreach ($d in $data)
        <tr>
            <td headers="data-latitude"><span class="aui-lozenge aui-lozenge-current">$String.format("%.2f", $!{d.latitude})</span></td>
            <td headers="data-longitude"><span class="aui-lozenge aui-lozenge-current">$String.format("%.2f", $!{d.longitude})</span></td>
            <td headers="data-timestamp">$date.format("yyyy-MM-dd HH:mm:ss", $!{d.timestamp})</td>
        </tr>
        #end
    </tbody>
</table>
#end